<h2 class="text-4xl">Informacion personal</h2>
<div class="my-8">
  <label for="email" class="text-lg">Email</label>
  <input type="text" class="rounded-lg py-3 w-full border-gray-200 cursor-not-allowed text-gray-300" value=<%= @user.email %> disabled>
</div>
